.mac-stopwatch
  span(ng-bind='stopwatch.value')
    button(ng-click='onStart()', ng-show='startAvailable') Start
    button(ng-click='onStop()', ng-show='stopAvailable') Stop
    button(ng-click='onReset()', ng-show='resetAvailable') Reset
