.mac-stopwatch
  span(ng-bind='stopwatch.value')
  button.btn(ng-click='onStart()', ng-show='startAvailable') Start
  button.btn(ng-click='onStop()', ng-show='stopAvailable') Stop
  button.btn(ng-click='onReset()', ng-show='resetAvailable') Reset
